.background {
    background-color: #4396d2
}

.hangbot {
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto -5px auto;
}

.banner {
    max-width: 1400px;
    height: auto;
    display: block;
    margin: -5px auto 10px auto;
}

.game {
    float: left;
    margin-left: 15px;
    padding-left: 15px;
}

#stats {
    float: right;
}

html {
    background-color: #4396d2;
}

.choose {
    margin-left: 10px;
}